:root {
    --title-text-color:#212121;
    --p-text-color:#757575;
    --highlight-color:#2196F3;
    --white-color:  #FFFFFF;
    --bg-color: #2F303A;
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--white-color);
    
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
    
}


.link:hover,
.link:focus{
    color:  var(--highlight-color);
    
}

.page-header {
 background-color: var(--white-color);

}
/* Виокремлення контенту */
.content {
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    outline: 2px solid tomato;
    margin-right: auto;
    margin-left: auto;
}



/* WEBstudio */
.logo-first {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    color:  var(--highlight-color);
}

.logo-sec {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-decoration: none;
}

/* навигация страниц */
.link-nav {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

/* контакты в наыигации */
.link-contacts {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.02em;
    color: var(--p-text-color);

}
/* Основной контент */

.hero {
    text-align: center;
    background-color: var(--bg-color);
}



/* главный заголовок h1 */
.main-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36em;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
   
}


/* заказать услугу */
.link-btn {
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.9em;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--highlight-color);
    text-decoration: none;
    padding: 10px 32px;
    border-radius: 4px;
    min-width: 200px;
    
}


/* фон секции с кнопкой */
.sec-section {
    background-color: var(--white-color);
}

/* скрытый заголовок */
.title-two {
    margin: 0;
}

/* заголовки в особенностях */
.item-list-header {

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height:  1.14em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-top:  0;
    margin-bottom: 10px;
}


/* абзацы особенностей */
.desc {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: 0.03em;
    color: var(--p-text-color);
    margin: 0;
}

/* заголовки h2 */
.subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 50px;
}

/* наша команда */

.team {
    background: #F5F4FA;
}
.photo {
    margin-bottom: 94px;
}
.team-ph {
   margin-bottom: 30px; 
}

/* наша команда имена */

.subtitle-names {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 10px;
}

/* наша команда должность */

.text-job {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    color: var(--p-text-color);
    margin-top: 0;
    margin-bottom: 30px;

}

/* Страница портофолио */
/* Основной контент */
.btn {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625em;
    letter-spacing: 0.03em;
    color:  var(--title-text-color);
    padding: 6px 22px;
    min-width: 73px;
    border-radius: 4px;
    border: 0;
}

.btn:hover,
.btn:focus {
    background-color: var(--highlight-color);
    color: var(--white-color);
}
/* подписи постеров */
.subtitle-pflo {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2em;
    letter-spacing: 0.06em;
    color:  var(--title-text-color);
    margin-top: 0;
    margin-bottom: 4px;
}
/* тип работы */
.text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.875em;
    letter-spacing: 0.03em;
    color: var(--p-text-color);
    margin: 0;

}
/* фото на стр порфолио */
.pictures {
    margin-bottom: 20px;
}

/* подвал */
.footer {
    background-color: var(--bg-color);
}

.logo-footer-sec {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    color: var(--white-color);
    margin-bottom: 20px;
    margin-top: 0;
}


.logo-footer-first {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    color:var(--highlight-color);
   
}

/* adress */
.adress {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: 0.03em;
    color: var(--white-color);
    margin-top: 0;
    margin-bottom: 9px;
}

/* контакты */

.foot-contacts {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 9;
}
/*  */
.tel {
    margin-bottom: 0;
}