:root {
    --title-text-color:#212121;
    --p-text-color:#757575;
    --highlight-color:#2196F3;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #FFFFFF;
    
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;

}

.link:hover,
.link:focus{
    color:  var(--highlight-color);
    
}
/* WEBstudio */
.logo-first {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    color:  var(--highlight-color);
}

.logo-sec {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-decoration: none;
}

/* навигация страниц */
.link-nav {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

/* контакты в наыигации */
.link-contacts {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.02em;
    color: var(--p-text-color);
}
/* главный заголовок h1 */
.main-title {

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36em;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #2F303A;
}


/* заказать услугу */
.link-btn {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.9em;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--highlight-color);
    text-decoration: none;
}

/* .link-btn:hover,
.link-btn:focus 
{} */

/* заголовки в особенностях */
.item-list-header {

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height:  1.14em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}


/* абзацы особенностей */
.desc {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: 0.03em;
    color: var(--p-text-color);
}

/* заголовки h2 */
.subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

/* наша команда имена */

.subtitle-names {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

/* наша команда должность */

.text-job {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    color: var(--p-text-color);
}

/* Страница портофолио */
/* Основной контент */
.btn {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625em;
    letter-spacing: 0.03em;
    color:  var(--title-text-color);
    
}

.btn:hover,
.btn:focus {
    background-color: var(--highlight-color);
    color: var(--white-color);
}

.subtitle-pflo {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2em;
    letter-spacing: 0.06em;
    color:  var(--title-text-color);
}

.text {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.875em;
letter-spacing: 0.03em;
color: var(--p-text-color);

}

/* подвал */
.footer {
    background-color: #2F303A;
}

.logo-footer-sec {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.logo-footer-first {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    color:var(--highlight-color);
}

/* adress */
.adress {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

/* контакты */

.foot-contacts {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}